In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\K K Ram\Downloads\train_2.csv")

In [4]:
print(df)

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...
5   6      1  iPhone software update fucked up my phone big ...
6   7      0  Happy for us .. #instapic #instadaily #us #son...

In [5]:
from spacy.lang.en.stop_words import STOP_WORDS

In [6]:
from spacy.lang.en import English

In [7]:
nlp = English()

In [8]:
import re

In [9]:
def preProcess(reviewText):
#     text = re.findall('[\w]+',reviewText.lower())
    doc = nlp(reviewText)
    filtered = []
    for word in doc:
        if word.is_stop==False:
            filtered.append(word.text)
    filtered_text = ' '.join(filtered)        
#     print(filtered_text)        
    return filtered_text

In [10]:
review_text_list  = df['tweet']
 
# text = preProcess("iPhone software update fucked up my phone big time Stupid iPhones")
# print(text)

In [11]:
filtered_set=[]

In [12]:
for review in review_text_list:
    filtered_review = preProcess(review)
#     print(filtered_review)
    filtered_set.append(filtered_review)
print(filtered_set)

['# fingerprint # Pregnancy Test https://goo.gl/h1MfQV # android # apps # beautiful # cute # health # igers # iphoneonly # iphonesia # iphone', 'Finally transparant silicon case ^^ Thanks uncle :) # yay # Sony # Xperia # S # sonyexperias â€¦ http://instagram.com/p/YGEt5JC6JM/', 'love ! ? # talk # makememories # unplug # relax # iphone # smartphone # wifi # connect ... http://fb.me/6N3LsUpCu', 'wired know George way ;) # iphone # cute # daventry # home http://instagr.am/p/Li_5_ujS4k/', 'amazing service ! Apple wo talk question pay $ 19.95 stupid support !', 'iPhone software update fucked phone big time Stupid iPhones', 'Happy .. # instapic # instadaily # # sony # xperia # xperiaZ https://instagram.com/p/z9qGfWlvj7/']

#### Bag of Words

In [13]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [14]:
cv = CountVectorizer()

In [15]:
cv_matrix= cv.fit_transform(filtered_set).todense()

In [16]:
print(cv_matrix)

[[0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1 0 0 1 1 1 0 1 0 0 1 1 0 0 0 0 1 1 0
  1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 1 1 0]
 [0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0
  0 0 0 1 1 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0
  0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1
  0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 1 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1]]

In [37]:
print(cv.vocabulary_)

{'fingerprint': 17, 'pregnancy': 44, 'test': 56, 'https': 27, 'goo': 21, 'gl': 20, 'h1mfqv': 22, 'android': 5, 'apps': 7, 'beautiful': 8, 'cute': 13, 'health': 24, 'igers': 28, 'iphoneonly': 34, 'iphonesia': 36, 'iphone': 33, 'finally': 16, 'transparant': 59, 'silicon': 48, 'case': 10, 'thanks': 57, 'uncle': 60, 'yay': 69, 'sony': 51, 'xperia': 67, 'sonyexperias': 52, 'http': 26, 'instagram': 31, 'com': 11, 'yget5jc6jm': 70, 'love': 39, 'talk': 55, 'makememories': 40, 'unplug': 61, 'relax': 46, 'smartphone': 49, 'wifi': 64, 'connect': 12, 'fb': 15, 'me': 41, '6n3lsupcu': 1, 'wired': 65, 'know': 37, 'george': 19, 'way': 63, 'daventry': 14, 'home': 25, 'instagr': 30, 'am': 3, 'li_5_ujs4k': 38, 'amazing': 4, 'service': 47, 'apple': 6, 'wo': 66, 'question': 45, 'pay': 42, '19': 0, '95': 2, 'stupid': 53, 'support': 54, 'software': 50, 'update': 62, 'fucked': 18, 'phone': 43, 'big': 9, 'time': 58, 'iphones': 35, 'happy': 23, 'instapic': 32, 'instadaily': 29, 'xperiaz': 68, 'z9qgfwlvj7': 71}

#### N-GRAMS MODEL

In [38]:
bv = CountVectorizer(ngram_range =(2,2))

In [40]:
bv_matrix = bv.fit_transform(filtered_set)

In [41]:
bv_matrix =  bv_matrix.toarray()

In [42]:
vocab = bv.get_feature_names()

In [43]:
pd.DataFrame(bv_matrix, columns=vocab)

,19 95,95 stupid,am li_5_ujs4k,amazing service,android apps,apple wo,apps beautiful,beautiful cute,big time,case thanks,...,unplug relax,update fucked,way iphone,wifi connect,wired know,wo talk,xperia sonyexperias,xperia xperiaz,xperiaz https,yay sony
0,0,0,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

#### TD-IDF MODEL

In [18]:
tv = TfidfVectorizer()

In [19]:
tv_matrix = tv.fit_transform(filtered_set)

In [20]:
tv_matrix = tv_matrix.toarray()

In [21]:
vocab = tv.get_feature_names()

In [22]:
pd.DataFrame(np.round(tv_matrix,2),columns=vocab)

,19,6n3lsupcu,95,am,amazing,android,apple,apps,beautiful,big,...,update,way,wifi,wired,wo,xperia,xperiaz,yay,yget5jc6jm,z9qgfwlvj7
0,0.00,0.00,0.00,0.00,0.00,0.26,0.00,0.26,0.26,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.24,0.00,0.29,0.29,0.00
2,0.00,0.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.29,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,0.00,0.00,0.31,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.31,0.00,0.31,0.00,0.00,0.00,0.00,0.00,0.00
4,0.31,0.00,0.31,0.00,0.31,0.00,0.31,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.31,0.00,0.00,0.00,0.00,0.00
5,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.35,...,0.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.29,0.34,0.00,0.00,0.34